In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../song_5000.csv")

In [6]:
df

,Unnamed: 0,artist,song,text
0,0,Lionel Richie,Just To Be Close To You,"Just to be close to you, girl \nJust for a mo..."
1,1,Doobie Brothers,Rocking Horse,"Take me back to an easy life, \nRobin Hood an..."
2,2,Gordon Lightfoot,Summertime Dream,Where the road runs down but the butternut gro...
3,3,Tom Jones,Without Love,"I awakened this morning, I was filled with des..."
4,4,Electric Light Orchestra,The Words Of Aaron,Maybe the years have told you \nDo you rememb...
...,...,...,...,...
4995,4995,Etta James,Out Of The Rain,"Out of the rain, under the shelter \nI've bee..."
4996,4996,Nicki Minaj,All Things Go,"[Verse 1] \nYo, I had to reinvent, I put the ..."
4997,4997,Marillion,Tic-Tac-Toe,We are led by the light at the end of the tunn...
4998,4998,Green Day,Pulling Teeth,I'm all busted up \nBroken bones and nasty cu...
4999,4999,Lana Del Rey,I'm Indebited To You,What an unusual name you said \nWhat a specta...

In [7]:
df.shape

(5000, 4)

In [8]:
df.head(5)

,Unnamed: 0,artist,song,text
0,0,Lionel Richie,Just To Be Close To You,"Just to be close to you, girl \nJust for a mo..."
1,1,Doobie Brothers,Rocking Horse,"Take me back to an easy life, \nRobin Hood an..."
2,2,Gordon Lightfoot,Summertime Dream,Where the road runs down but the butternut gro...
3,3,Tom Jones,Without Love,"I awakened this morning, I was filled with des..."
4,4,Electric Light Orchestra,The Words Of Aaron,Maybe the years have told you \nDo you rememb...

In [9]:
df['song']

0       Just To Be Close To You
1                 Rocking Horse
2              Summertime Dream
3                  Without Love
4            The Words Of Aaron
                 ...
4995            Out Of The Rain
4996              All Things Go
4997                Tic-Tac-Toe
4998              Pulling Teeth
4999       I'm Indebited To You
Name: song, Length: 5000, dtype: object

In [10]:
df['text'][0]

"Just to be close to you, girl  \nJust for a moment, well,  \nJust for an hour  \nJust to be close to you girl  \n  \nI was a lonely man  \nA man with no direction  \nWith no purpose  \nWith no one to love  \nAnd no one to love me, for me  \n  \nOh girl then you came into my life  \nYou made my jagged edges smooth  \nYou made my direction so clear  \nAnd you oh women you became my purpose  \nMy reason for living girl you see  \n  \nYou're my heart, you're my soul  \nYou're my strong inspiration baby  \nThat's why I'm standing here  \nSinging and opening my arms to you  \nI want to say child, why don't you  \n  \nTake my hand,  \nOh we'll live and love forever  \nTake my hand,  \nOoh we'll be alone you and me  \nTake my hand  \nGirl we'll live our lives together  \nYeah together  \n  \nJust to be close to you, girl  \nJust for the moment baby,  \nWell just for an hour  \nJust to be close to you, girl  \nI need you baby  \n  \nTo make love, to be loved by you baby  \nTo have your warm body close to mine  \nTo whisper words that make you feel like a woman  \nGirl I know our love will stand the test of time  \n  \nJust to be close to you girl  \nFor the moment baby (for the moment baby, for the moment baby)  \nFor the sugar sugar yeah yeah yeah yeah yeah yeah yeah  \n  \nJust to be close to you girl  \nJust for the moment\n\n"

In [ ]:
df['text'] = df['text'].str.lower().replace(r'[^\w\s]','').replace(r'\n',' ',regex=True)

In [11]:
df['text'][0]

"Just to be close to you, girl  \nJust for a moment, well,  \nJust for an hour  \nJust to be close to you girl  \n  \nI was a lonely man  \nA man with no direction  \nWith no purpose  \nWith no one to love  \nAnd no one to love me, for me  \n  \nOh girl then you came into my life  \nYou made my jagged edges smooth  \nYou made my direction so clear  \nAnd you oh women you became my purpose  \nMy reason for living girl you see  \n  \nYou're my heart, you're my soul  \nYou're my strong inspiration baby  \nThat's why I'm standing here  \nSinging and opening my arms to you  \nI want to say child, why don't you  \n  \nTake my hand,  \nOh we'll live and love forever  \nTake my hand,  \nOoh we'll be alone you and me  \nTake my hand  \nGirl we'll live our lives together  \nYeah together  \n  \nJust to be close to you, girl  \nJust for the moment baby,  \nWell just for an hour  \nJust to be close to you, girl  \nI need you baby  \n  \nTo make love, to be loved by you baby  \nTo have your warm body close to mine  \nTo whisper words that make you feel like a woman  \nGirl I know our love will stand the test of time  \n  \nJust to be close to you girl  \nFor the moment baby (for the moment baby, for the moment baby)  \nFor the sugar sugar yeah yeah yeah yeah yeah yeah yeah  \n  \nJust to be close to you girl  \nJust for the moment\n\n"

In [12]:
import nltk
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [ps.stem(w) for w in tokens]

    return " ".join(stemming)

In [13]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [14]:
print(df['text'][0])

just to be close to you , girl just for a moment , well , just for an hour just to be close to you girl i wa a lone man a man with no direct with no purpos with no one to love and no one to love me , for me oh girl then you came into my life you made my jag edg smooth you made my direct so clear and you oh women you becam my purpos my reason for live girl you see you 're my heart , you 're my soul you 're my strong inspir babi that 's whi i 'm stand here sing and open my arm to you i want to say child , whi do n't you take my hand , oh we 'll live and love forev take my hand , ooh we 'll be alon you and me take my hand girl we 'll live our live togeth yeah togeth just to be close to you , girl just for the moment babi , well just for an hour just to be close to you , girl i need you babi to make love , to be love by you babi to have your warm bodi close to mine to whisper word that make you feel like a woman girl i know our love will stand the test of time just to be close to you girl for the moment babi ( for the moment babi , for the moment babi ) for the sugar sugar yeah yeah yeah yeah yeah yeah yeah just to be close to you girl just for the moment

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tfid = TfidfVectorizer(stop_words='english')
matrix = tfid.fit_transform(df['text'])

In [17]:
print(matrix.shape)

(5000, 17431)

In [18]:
similarity = cosine_similarity(matrix)

In [19]:
print(similarity[0])

[1.         0.03777933 0.01980426 ... 0.03454912 0.0683355  0.06961184]

In [20]:
print(df['song'][3])

Without Love

In [21]:
song_names = df['song']

In [22]:
def recommendation(song):
    idx = df[df['song'] == song].index[0]
    distances = sorted(list(enumerate(similarity[idx])), reverse=True,
                       key=lambda x: x[1])  ### 1st number song have similarity with its own and others...

    songs = []
    for i in distances[1:21]:
        songs.append(df.iloc[i[0]].song)

    return songs

In [24]:
re = recommendation('Without Love')

print("--------------------")

re

--------------------

['No More Looking For Love',
 'Nothing To Lose',
 'All You Need Is Love',
 'Show Me A Smile',
 'Glorious',
 'Only Your Love',
 'Rhythm Of Love',
 'Nothing Goes Up (Without Coming Down)',
 'Nothing',
 'Love Me Now',
 'Looking Back On Love',
 'Love Conquers All',
 'Heart Like A Wheel',
 'Love You Like I Do',
 'I Love, You Love',
 "I've Got Love On My Mind",
 'Both Sides Of Goodbye',
 'Nights In White Satin',
 'In It For Love',
 'Love Is']

In [25]:
import pickle

with open('df.pkl', 'wb') as f:
    pickle.dump(df, f)
with open('df.pkl', 'rb') as f:
    loaded_model = pickle.load(f)

with open('similarity.pkl','wb') as f:
    pickle.dump(similarity, f)
with open('similarity.pkl', 'rb') as f:
    loaded_model = pickle.load(f)

with open('song_names.pkl','wb') as f:
    pickle.dump(song_names, f)
with open('song_names.pkl', 'rb') as f:
    loaded_model = pickle.load(f)